/* Css for the about me page */

main{
  line-height: 1.5em;
  font-size: 1em;
}
img{
  border-radius: 10%;
}

h2{
  text-align: center;
}

p{
  width: 90%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8%;
}

#usimg{
  width:11em;
  border-radius: 50%;
} 

.notHead{
  width:48%;
  height:25em;
  
}

#column{
  columns: 2;

}

.column1{
  padding: 10% 0 0 50%;
}

.column2{
  padding: 10% 20% 0 0;
}
