/* Css for the about me page */

main{
  line-height: 1.5em;
}
h2{
  text-align: center;
}

#usimg{
  width:11em;
  border-radius: 50%;
} 

.notHead{
  width:50%;
  height:25em;
  
}

#column{
  columns: 2;

}
.column1{
  padding: 10% 0 0 50%;
}
.column2{
  padding: 10% 20% 0 0;
}