/* Css for the about me page */
b{
  text-align: center;
}

h2{
  text-align: center;
}

#usimg{
  width:11em;
  border-radius: 50%;
} 

#notHead{
  width:20em;
  height:30em;
  margin: auto;
  /* padding:5em */
}

#colum{
  columns: 2;
  
}

