/* css for the chart */
main{
  line-height: 1.5em;
}
main img{
  width:40%;
  border-radius: 15px;
}

#myChart {
  background-color: rgba(247, 247, 247, 0.7);
  max-width: 800px;
  max-height: 800px;
  margin: 0 auto;
  border-radius:15px;
}
h1{
  text-align: center;
}
#resource{
  margin:5%;
  line-height:0.1vw;
  list-style-type:diamond;
}
#resource li:before{
  content:"\2666"
}