/* css for the chart */
main{
  line-height: 1.5em;
}
main img{
  width:30%;
  border-radius: 15px;
}
h2{
  text-align: center;
}

#myChart {
  background-color: rgba(216, 213, 219, 0.9);
  max-width: 800px;
  max-height: 800px;
  margin: 0 auto;
  border-radius:15px;
}
#chartSec{
  margin-bottom: 4vw;
}
h1 {
  font-size: 2.5vw;
  margin-top: 2vw;
  text-align: center;
}
#entries li{
  display:inline-block;
  font-family: 'Handlee', cursive;
  border: 1px solid rgb(129, 67, 109);
  width: 220px;
  height: 200px;
  margin: auto .5vw;
  overflow: scroll;
  margin-bottom: 2vw;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8%;
}
  ::-webkit-scrollbar { 
    display: none; 
}

#resource{
  margin:5%;
  line-height:0.1vw;
  list-style-type:diamond;
}
#resource li:before{
  content:"\2666"
}