/* css for header and footers on all pages */

body {
 
  color: rgb(231, 223, 223);
  text-align: center;
  background-image:url("../img/power-puff-background-3.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vw;
  
}


/* HEADER */
header{
  width: 100vw;
  background-color: rgb(129, 67, 109);
  -webkit-box-shadow: 1px 1px 10px 8px rgba(24, 23, 23, 0.75), 12px 14px 20px 9px rgba(125, 60, 131, 0.57); 
  box-shadow: 1px 1px 10px 8px rgba(0,0,0,0.75), 12px 14px 20px 9px rgba(117, 25, 113, 0.57);
  text-shadow: 2px 2px #0c0c0c;
  color:rgb(231, 223, 223);
}
ul {
 margin:1vw;
}
#logoimg{
  border-radius:58%;
}

li {
  display: inline-block;
  margin: 2vw 3vw; 
}

ul li div p {
  vertical-align: middle;
}

.share{
margin-left: 4vw;
}

a {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
}

.toplinks {
  margin: 1em 3em 1em 4em;
}


/* MAIN */

main {
  width:100%;
}

h1 {
  margin: 1.3em;
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
}

h2 {
  margin: 1.3em;
  font-weight: bold;
  font-size:1.2em;
  text-align:left;
}


/* FOOTER */

footer {
  height:3vw;
  margin-top: 4vw;
  margin-bottom: 1vw;
  padding-top:1vw;
  width: 100%;
  background-color: rgb(129, 67, 109);
  -webkit-box-shadow: 1px 1px 10px 8px rgba(24, 23, 23, 0.75), 12px 14px 20px 9px rgba(125, 60, 131, 0.57); 
  box-shadow: 1px 1px 10px 8px rgba(0,0,0,0.75), 12px 14px 20px 9px rgba(117, 25, 113, 0.57);
  text-shadow: 2px 2px #0c0c0c;
}
